<%-form_for :data, :url=>{:action=>"show"} do |f| %>
<%=f.label :"title" %><br>
<%=f.text_field :title%><br>
<%=f.label :"post"%><br>
<%=f.text_area :description%><br>
<%=f.submit :"Add"%>
<%-end%><table>
<tr><td><%= link_to " click here=>View posts",:controller=>"blogs", :action=>"show_post"%></td></tr></table>
<script type="text/javascript">
alert("please enter the valid input")
</script>
